
figure {
   overflow:hidden; /*pildi piiride peitmine? */
   margin:0;
}

figure img{
   display:block;
}

#riba {
   width:100%;
}

#tekst {
	font-family: "Times New Roman", Times, serif;
	font-size:20px;
	color:#1e331f;
}
#valgeala {
	background: white
}
#mapDiv {
   width: 100%;
   height: 450px;
}

#logo1 {
   width: 100%;
   height: 24px;
}
