body {
	background: white;
	margin: 0;
}
/* nav käib päises oleva peamenüü kohta */
.nav {
	text-align: right
}
.nav_ul{
	display: inline;
}
.nav_ul_li {
	display: inline;
	list-style-type: none;
	color: #2AA567;
	padding: 2px 40px;	
}
.nav_ul_li_a {
	color: white;
	text-decoration: none;
	font-family: Papyrus;
	font-size: 20px
}
table {
	width: 100%
}
#aktiivne {
	color: #2AA567
}
#tabel1 {
	height: 85px;
	background: #0B393A;
}
/* nav asjad lõppevad */

/* siit alates on footeri asjad, need käivad selle lõpuriba kohta */
footer{
	position: relative;
	display: block;
	background: black;
	color: white;
	bottom: 0;
	left: 0;
	width: 100%;
}
#tabel2 {
	text-align: left;
	height: 200px
}
.footer_kujundus {
	width: 25%;
	padding: 20px;
	/*alt: logo;*/
	width: 200;
	height: 38;
}
.footer_pealkiri {
	font-weight: normal;
	font-family: "Calibri Light";
	font-size: 25px
}
.footer_sisu {
	font-weight: normal;
	font-family: "Calibri Light";
	font-size: 15px
}
#korrektuur {
	padding-top: 20px;
	padding-left: 20px
}
/* siit lõpevad footeri asjad */

/* main id mõjutab lehe sisu osa, hetkel see on vajalik, et ta täidaks lehe ära ka kui sisu pole ja lükkaks footeri õigesse kohta */
#main {
	min-height: calc(100vh - 200px - 85px);
	background: #0B393A;
	text-align:center;
	
}
.h11 {
    text-decoration: underline;
    text-decoration-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#tekstiümbris {
    border: 20px solid #0B393A;
    background-color: white;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

.footer2 {
	alt: info;
	width: 180;
	height: 52;
}

.footer1 {
	alt: logo;
	width: 200;
	height: 38;
}