
div {
    background-color: white;
    width: 1000px;
    height: 100px;
    border: 20px #0B393A;
    padding: 50px;
    margin:50px;
    

  }
figure{
   overflow:hidden; /*pildi piiride peitmine? */
   margin:0;
}
figure img{
   display:block;
   width:100%;
   margin:-26% 0; 
   /* croppimine */
}
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 420px;
  left: 30px;
  color: white;
}