
#body {
    background-color: #0B393A;
}
#riba {
   width:100%;
}

ul.b {list-style-type: disc;
}

  /* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 30px;
}
  
  /* Left and right column */
.column.side {
    width: 25%;
}
  
  /* Middle column */
.column.middle {
    width: 60%;
}
  
  /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
}
 #riba {
   width:100%;
} 
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
{
    .column.side;
	.column.middle;
      width: 100%;
 }
