
#body {
    background-color: #0B393A;
}
#riba {
   width:100%;
}

ul.b {list-style-type: disc;}

#tekstiumbris {
    border: 20px solid #0B393A;
    background-color: white;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

#h11 {
    text-decoration: underline;
    text-decoration-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  /* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 30px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
<<<<<<< HEAD
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px)  */
    /* .column.side, .column.middle { */
      /* width: 100%; */
    }
=======
  
>>>>>>> 71bc7f06805beecc6549d816693bde34dfba7abf
#riba {
   width:100%; 
}